
#wrapper{
    position:absolute; 
    top:0; 
    left:0;
    width:100%;
    background:radial-gradient(circle at top right, #F8DCDC, #966f6f);

    .cafes{ 
        
       height:auto;
    
        .header-banner{ 
            background: url(../../../public/img/cafes-banner.png);
            background-repeat: no-repeat;
            background-size: cover;
            height:13.8rem;
            display:flex;
            align-items: center;
            justify-content: center;
            
            h2{ 
                font-family: 'Rubik Glitch', sans-serif;
                font-size:5rem;
                letter-spacing: .7rem;;
                color:#fff;
                text-shadow: 
                -4px -4px 0 #966F6F,  
                4px -4px 0 #966F6F,
                -4px 4px 0 #966f96,
                4px 4px 0 #966f96; /* Text shadow with offset for each direction */
            }
            
        }

        .sort-search{ 
            display:flex; 
            align-items: center;
            justify-content: space-between;
            width:80%; 
            margin:0 auto;
            padding:5rem 0;

            .sort-wrap{ 
                display:flex; 
                align-items: center;
                gap:1rem;
                
                h4{ 
                    font-family:'mada', sans-serif;
                    font-size:50px; 
                    font-weight: 500;
                    text-transform: lowercase;
                    color:white;
                }

                .sort-input{ 
                    .asc, .desc {
                        
                        display:flex; 
                        gap:10px; 
                        align-items:center; 
                        justify-content: center;

                    }
                    label{
                        color:white;
                        font-size:20px; 
                        font-family: 'mada', sans-serif; 

                    }

    
                }
               
            }

            .search{ 
               display:flex; 
               justify-items: center;
                

                input[type="text"]{ 
                    border:1px solid #9F1313;
                    height:45px;
                    width:260px;
                    background:transparent;
                    border-radius:20px 0 0 20px;
                    padding:0 8px;
                }
                 button{ 
                    border-radius: 0 20px 20px 0;
                    height:45px; 
                    width:60px;
                    background-color: #F8DCDC;
                    border:none;
                    cursor:pointer;

                    .search-btn{ 
                        width:25px;
                        height:25px; 
                        color:#C81616;

                    }

                 }
            }
        }
    }
    .cafe{
        
        width:75%; 
        margin:0 auto; 
        overflow:hidden;
        display:flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap:4rem;
        padding-bottom:4rem;
        .loading{ 
            font-size:2rem; 
            font-weight:500; 
            font-family:700; 
            color:red; 
            transform: scale(1.2);
            transition: all 3s ease;
        }
    }

}


@media (max-width: 640px){ 
    #wrapper{ 
        .cafes{ 
            .header-banner{
                background-position: center;
            }
            .sort-search{ 
               
                justify-content: center;
                align-content:center;
                overflow:hidden;
                gap:10px;
                flex-direction: column;
                .sort-wrap{
                    width:85%;
                    h4{
                        flex:1;
                        font-size:20px;
                    }
                    .sort-input{ 
                        flex:2;
                        .asc, .desc{ 
                            label{
                                font-size:13px;
                            }
                        }
                    }
                }.search{ 
                    width:85%;
                    input[type=text]{ 
                        width:200px;
                    }
                                    }
            }
            .cafe{ 
                .card-wrap{ 
                    width:65%;
                }
            }
        }
    }
   
    
}




