        
    .card-wrap{ 
        border:3px solid #f8dcdc;
        background:#f8dcdc80;
        border-radius: 17px;
        width:18%; 
        height:288px;
        display:flex; 
        align-items:center;
        padding:24px 18px;
        
        flex-direction: column;
        .card-img{ 
            width:100%;
            display:flex; 
            justify-content: center;
            justify-self: center;
            object-fit: cover;
            img{ 
                width:100px; 
                object-fit: cover;
                height:169px;
               
            }
        }
        .card-details{ 
            display:flex; 
            justify-content: space-between;
            width:100%;
            margin-bottom:9px;
            .cafe-name, .cafe-price{ 
                font-size:14px; 
                font-family:'mada', sans-serif;
                font-weight:400;
            }
        }


      
        button{ 

            padding:4px 30px;
            border-radius: 20px;
            cursor: pointer;
            border:1px solid #9F1313;
            background:transparent; 
            color:white;
            font-size:12px; 
            font-weight:700;
            transition: all 5ms ease; 
            &:hover{ 
                background:#9F1313;
                border: none;
                
            } 
            
            
        }
  
    
    }

