
nav{ 
    
    box-shadow: 0px 4px 4px rgba(248, 220, 220, 0.5);
    display:flex; 
    height:6rem;
    align-items: center;
    position: relative;
    width:100%;
    z-index: 10;

    .nav_wrap{ 
        display:flex; 
        width:80%;
        margin:0 auto;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        // padding:1.2rem 0;
        
        .logo{ 
            flex:1;
           

            img{ 
                width:40%;
                height:auto;
            }
        }
        .links{ 
            flex:1;
            font-family: 'sahitya', sans-serif; 
            font-size:1.6rem; 
            color:white;
            display:flex; 
            justify-content:center;
            gap:3rem;
            .link{ 
                color:white;
                text-decoration: none;
            }
        }

        .cart_btn{ 
            
            display:flex; 
            gap:20px;
            justify-content: flex-end;
            flex:1;
           
            .btn{ 
                position:relative; 
                background:#FFFFFFCC;
                border-radius: 50%;
                box-shadow:inset 0 0 0 4px #966F6F;     
                width:3rem; 
                height:3rem;
                align-self: center;
                display:flex; 
                justify-content: center;
                padding:.6rem;
                cursor:pointer;

                span{ 
                position:absolute;
                display:flex; 
                font-family:'mada', sans-serif;
                font-weight:500;
                font-size:.8rem;
                top:0;
                right:0;
                justify-content: center;
                align-items: center;
                width:1.2rem; 
                height:1.2rem; 
                color:#C81616;
                background:#F8DCDC; 
                border-radius:50%;
             

                }
                .cart_icon{ 
                    color:#9F1313;
                    align-self: center;
                    width:1.4rem; 
                    height:1.4rem;
                }

            }
            .menu-btn{ 
                align-self:center;
                color:white;
                width:3.5rem;
                height:3.5rem;
                cursor:pointer;
                display:none;
            }
        }
    }
}

// media responsive



@media (max-width:640px){ 

    nav{ 
        // z-index:99;
        position:relative;
        
        .nav_wrap{
            width:90%;
            .logo{
                img{
                    width:80%;
                }
            }
        
        .links{ 
            display:none;
            position:absolute;
            top:0; 
            border-radius: 8px;
            right:0; 
            // display:flex; 
            flex-direction: column;
            padding:10px;
            width:172px; 
            height:288px;
            justify-content: center;
            background:#F8DCDCFF;
            z-index:99;
            &.open{ 
                display:flex;
                transition: all;
                animation:slideDown .3s ease-in;  
            }
            .link{ 
                align-self:center
            }
            
        }
        .cart_btn{ 
            .menu-btn{
                display:block;
            }
        }
    }
}
}




@keyframes slideDown { 
    0%{ 
        transform: translateY(-100px)
    }
    
    100%{ 
        transform: translateY(0px);
    }
}