@import url('https://fonts.googleapis.com/css2?family=Sahitya:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Rubik+Glitch+Pop&display=swap');




*{
    margin:0; 
    padding:0; 
    box-sizing: border-box;
}
